.ol {
    list-style-type: decimal-leading-zero;
}
.container {
    background-color: rgb(59, 222, 135);
    display: flex;
}
.border {

    border: 5px solid rgb(21, 21, 21);
}
.sec1,
.star {
    flex: 1;
}










































































